<div class="dashboard">
  <span><h1>Admin Dashboard</h1></span>
  <div class="container">
    <div class="admin-container">
      <div>Number of Products: <%= @products  %> </div>
    </div>
    <div class="admin-container">
      <div>Number of categories: <%= @category  %> </div>
    </div>
  </div>
</div>
