<div class='about-container'>
<h1>About Us</h1>
<p>Jungle was founded by two brothers, Axel and Thom, who grew up around the plants in their parents’ nursery. The idea? To make finding and buying houseplants easy, in a fun, engaging and hassle-free way! </p>

<p> Plantsome plants have BIG personalities. We believe that shopping should bring joy and laughs. We love telling you all about their ‘plantventures’! </p>
</div>